.about {
    padding: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.about__content {
    display: flex;
    flex-direction: column;
}

.about__title {
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: -2.5%;
    font-weight: 900;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secondary-color);
}

.about__description {
    font-size: 24px;
    line-height: 1.5;
    max-width: 70ch;
    font-weight: 300;
    margin-bottom: 80px;
}

.about__resume-link {
    width: fit-content;
    display: inline-flex;
    padding: 20px 40px;
    border: 1px solid var(--secondary-color);
    font-size: 24px;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.5s;
}

.about__resume-link:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.about__resume-icon {
    font-size: 32px;
    margin-left: 20px;
}

/* Laptop */
@media (max-width: 1366px) {
    .about__title {
        font-size: 64px;
        margin-bottom: 32px;
        padding-bottom: 16px;
    }

    .about__description {
        font-size: 20px;
        margin-bottom: 64px;
    }

    .about__resume-link {
        font-size: 20px;
        padding: 16px 32px;
    }

    .about__resume-icon {
        font-size: 24px;
        margin-left: 16px;
    }
}

/* Tablet */
@media (max-width: 820px) {
    .about {
        padding: 40px;
    }

    .about__title {
        font-size: 32px;
        margin-bottom: 24px;
        padding-bottom: 12px;
    }

    .about__description {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .about__resume-link {
        font-size: 16px;
        padding: 12px 24px;
    }

    .about__resume-icon {
        font-size: 20px;
        margin-left: 12px;
    }
}

/* Mobile */
@media (max-width: 414px) {
    .about {
        padding: 20px;
    }

    .about__title {
        font-size: 24px;
        margin-bottom: 20px;
        padding-bottom: 12px;
    }

    .about__description {
        font-size: 14px;
        margin-bottom: 32px;
    }

    .about__resume-link {
        font-size: 14px;
    }

    .about__resume-icon {
        font-size: 16px;
    }
}