.navbar {
    background-color: var(--bg-color);
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-bottom: 1px solid var(--secondary-color);
    z-index: 100;
    top: 0;
}

.navbar__logo {
    font-size: 24px;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: -0.025;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.1;
}

.navbar__menu {
    background-color: var(--bg-color);
    position: fixed;
    display: flex;
    top: 116px;
    left: 100dvw;
    width: 100%;
    min-height: calc(100dvh - 116px);
    padding: 80px;
    transition: all 0.5s;
    opacity: 0;
}

.navbar__menu-list {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 16px;
}

.navbar__menu-link {
    font-size: 80px;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -2.5%;
    line-height: 1.1;
    transition: all 0.5s;
}

.navbar__menu-link:hover {
    padding-right: 80px;
}

.navbar__menu-button {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar__menu-icon {
    font-size: 32px;
    color: var(--primary-color);
}

/* Laptop */
@media (max-width: 1366px) {
    .navbar__menu {
        top: 108px;
        min-height: calc(100dvh - 108px);
    }

    .navbar__menu-link {
        font-size: 64px;
    }

    .navbar__logo {
        font-size: 20px;
    }

    .navbar__menu-icon {
        font-size: 24px;
    }
}

/* Tablet */
@media (max-width: 820px) {
    .navbar {
        padding: 20px 40px;
    }

    .navbar__menu {
        top: 64px;
        min-height: calc(100dvh - 64px);
    }

    .navbar__menu--active {
        padding: 40px;
    }

    .navbar__menu-link {
        font-size: 56px;
    }

    .navbar__logo {
        font-size: 16px;
    }

    .navbar__menu-icon {
        font-size: 20px;
    }
}

/* Mobile */
@media (max-width: 414px) {
    .navbar {
        padding: 20px;
    }

    .navbar__menu {
        top: 60px;
        min-height: calc(100dvh - 60px);
    }

    .navbar__menu--active {
        padding: 20px;
    }

    .navbar__menu-link {
        font-size: 32px;
    }

    .navbar__logo {
        font-size: 14px;
    }

    .navbar__menu-icon {
        font-size: 16px;
    }
}