.projects {
    padding: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.projects__title {
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: -2.5%;
    font-weight: 900;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secondary-color);
}

.project__list {
    display: flex;
    flex-direction: column;
}

.project__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--secondary-color);
    padding: 40px;
}

.project_item-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project_item-right {
    display: flex;
    gap: 48px;
}

.project__title {
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -2.5%;
    font-weight: 900;
}

.project__category {
    font-size: 24px;
    line-height: 1.5;
    max-width: 70ch;
    font-weight: 300;
}

.project__link {
    width: fit-content;
    display: inline-flex;
    padding: 20px 40px;
    border: 1px solid var(--secondary-color);
    font-size: 24px;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.5s;
}

.project__link:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.project__link-icon {
    font-size: 32px;
    margin-left: 20px;
}

/* Laptop */
@media (max-width: 1366px) {
    .projects__title {
        font-size: 64px;
        margin-bottom: 32px;
        padding-bottom: 16px;
    }

    .project_item-left {
        gap: 16px;
    }

    .project__title {
        font-size: 24px;
    }

    .project__category {
        font-size: 20px;
    }

    .project__link {
        font-size: 20px;
        padding: 16px 32px;
    }

    .project__link-icon {
        font-size: 24px;
        margin-left: 16px;
    }
}

/* Tablet */
@media (max-width: 820px) {
    .projects {
        padding: 40px;
    }

    .projects__title {
        font-size: 32px;
        margin-bottom: 24px;
        padding-bottom: 12px;
    }

    .project__item {
        padding: 32px;
    }

    .project_item-left {
        gap: 12px;
    }

    .project__title {
        font-size: 20px;
    }

    .project__category {
        font-size: 16px;
    }

    .project__link {
        font-size: 16px;
        padding: 12px 24px;
    }

    .project__link-icon {
        font-size: 20px;
        margin-left: 12px;
    }
}

/* Mobile */
@media (max-width: 414px) {
    .projects {
        padding: 20px;
    }

    .projects__title {
        font-size: 24px;
        margin-bottom: 20px;
        padding-bottom: 12px;
    }

    .project__item {
        padding: 24px;
        gap: 24px;
        flex-direction: column;
        align-items: start;
    }

    .project_item-left {
        gap: 8px;
    }

    .project__title {
        font-size: 20px;
    }

    .project__category, .project__link {
        font-size: 14px;
    }

    .project__link-icon {
        font-size: 16px;
    }
}